* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background-color: #FAF7F3;
    background-image: linear-gradient(to right, #faf7f3, #f8f3ed, #f7f0e7, #f5ece1, #f3e9db, #f3e9db, #f3e9db, #f3e9db, #f5ece1, #f7f0e7, #f8f3ed, #faf7f3);
    overflow-x: hidden;
    color: #000;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    color: #000;
    letter-spacing: normal;
    background-image: linear-gradient(to right top, #7b4019, #622d1e, #441f1d, #261315, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* ===== Custom Button ===== */
#customBtn {
    background-image: linear-gradient(to right top, #7b4019, #622d1e, #441f1d, #261315, #000000);
    columns: #fff;
}

/* ===== Section ===== */
section {
    padding: 100px 0;
}

/* ===== Header ====== */

header {
    background-image: linear-gradient(to left, #faf7f3, #f8f3ed, #f7f0e7, #f5ece1, #f3e9db, #f3e9db, #f3e9db, #f3e9db, #f5ece1, #f7f0e7, #f8f3ed, #faf7f3);
}


/* ===== Hero Section ====== */

.subtitle:after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 1px;
    background-color: #666;
    left: 120px;
    top: 13px;
}

/* #serumImageHero::before {
    content: "";
    position: absolute;
    display: block;
    width: 400px;
    height: 630px;
    left: -120px;
    bottom: -10px;
    border-radius: 100% 0 100% 0;
    box-shadow: 19px -20px 0px 20px #ffffff, 57px -24px 60px 20px #ffffff;
    filter: blur(5px);
}

*/
/* ====== About Section ===== */

#serumImageAbout1 {
    right: -122px;
    z-index: -1;
    top: 65px;
}

#serumImageAbout2 {
    left: -122px;
    z-index: -1;
    top: 65px;
}