* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background-color: #FAF7F3;
    background-image: linear-gradient(to left top, #f8f4e1, #d4caaf, #b3a080, #937855, #74512d);
    overflow-x: hidden;
    color: #000;
    font-family: "Open Sans", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    letter-spacing: normal;
    font-weight: 700;
}

/* ===== Custom Button ===== */
#customBtn {
    color: #fff;
    border: 1px solid #fff;
}

/* ===== Section ===== */

section {
    padding: 100px 0;
}


/* ===== Hero Section ====== */

.subtitle:after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 1px;
    background-color: #ffffff;
    left: 120px;
    top: 13px;
}

.imageWrapper {
    content: "";
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100% 0 100% 0;
    box-shadow: 19px -20px 0px 20px #ffffff;
    filter: blur(10px);
    bottom: 0;
}

.aboutWrapper {
    content: "";
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    left: 20%;
    border-radius: 100% 0 100% 0;
    box-shadow: 19px -20px 0px 20px #ffffff;
    filter: blur(10px);
    bottom: -80px;
    rotate: 15deg;
    scale: 0;
    z-index: -1;
}

/* ====== About Section ===== */

#serumImageAbout1 {
    right: -122px;
    z-index: -1;
    top: 65px;
}

#serumImageAbout2 {
    left: -122px;
    z-index: -1;
    top: 65px;
}

/* ===== Features Section ==== */

#whyDragArea {
    position: relative;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 80px 80px;
    /* Grid cell size */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}

.why-box {
    transition: box-shadow 0.3s ease;
}

.why-box:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
}

/*  */

.serum-image {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.serum-image img {
    width: 100%;
}